<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="smoke.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script id="DiffusionShader" type="shader-code"> 
        uniform vec2 res;//The width and height of our screen
        uniform sampler2D bufferTexture;//Our input texture
        
        void main() {

            vec2 pixel = gl_FragCoord.xy / res.xy;
            gl_FragColor = texture2D( bufferTexture, pixel );
            float xPixel = 1.0/res.x; //The size of a single pixel
            float yPixel = 1.0/res.y;
            vec4 leftColor = vec4(0,0,0,0);
            vec4 rightColor = vec4(0,0,0,0);
            vec4 upColor = vec4(0,0,0,0);
            vec4 downColor = vec4(0,0,0,0);

            float diffusion = 0.001;
            float count = 0.01;
            float N = res.x * res.y;
            float a = diffusion * N * 0.016;

        
              
                leftColor = texture2D(bufferTexture,vec2(pixel.x-xPixel,pixel.y));
            
                rightColor = texture2D(bufferTexture,vec2(pixel.x+xPixel,pixel.y));
          
         
              
                downColor = texture2D(bufferTexture,vec2(pixel.x,pixel.y-yPixel));
           
                
                upColor = texture2D(bufferTexture,vec2(pixel.x,pixel.y+yPixel));

            

             
             
            //Diffuse equation
            gl_FragColor.r = (gl_FragColor.r + a * (leftColor.r   + rightColor.r + upColor.r + downColor.r))/ (1.0 + 4.0 * a);
            gl_FragColor.g = (gl_FragColor.g + a * (leftColor.g   + rightColor.g + upColor.g + downColor.g))/ (1.0 + 4.0 * a);
            gl_FragColor.b = (gl_FragColor.b + a * (leftColor.b   + rightColor.b + upColor.b + downColor.b))/ (1.0 + 4.0 * a);

            
            
        }
    </script>
    <script id="AddColorShader" type="shader-code">
        uniform vec2 res;//The width and height of our screen
        uniform sampler2D bufferTexture;//Our input texture
        uniform vec4 smokeSource;

        void main() {
            vec2 pixel = gl_FragCoord.xy / res.xy;
            gl_FragColor = texture2D( bufferTexture, pixel );
            if(smokeSource.a > 0.0){
                float dist = distance(smokeSource.xy,gl_FragCoord.xy);
                if(dist<15.0){
                    if(smokeSource.z == 1.0){
                        gl_FragColor.r += 1.0;
                    }
                    else if(smokeSource.z == 2.0){
                        gl_FragColor.g += 1.0;
                    }
                    else if(smokeSource.z == 3.0){
                        gl_FragColor.b += 1.0;
                    }
                    
                }
                
            }
            

         }
    </script>
    <script src = "/fluid/three.js"></script>
    <script src = "/fluid/scene.js"></script>

</head>

    




</body>
</html>
