<% provide(:title, "About") %>
<div class = "container" style = "margin-top: 20px">
    <div class = "col-md-6 col-sm-8 hidden-xs">
    <img src="https://s3.amazonaws.com/mikerkoval/IMG_5798.JPG" alt="profile-pic" style="width:450px;height:300px;">
    </div>
    <div class = "hidden-sm col-xs-12 hidden-md hidden-lg">
    <img src="https://s3.amazonaws.com/mikerkoval/IMG_5798.JPG" alt="profile-pic" style="width:300px;height:200px;">
    </div>
    <div class = "col-md-6">
        <h3 style = "margin-top:0px"> About me</h3> 
        <p>
       I am a senior at Georgia Tech studying computer science and expect to graduate in December 2017  . When I first entered the field of computer science, I wasn't sure what interested me, but I really enjoyed being able to create something visual from nothing, and to be able to see the results of my work. During the intro to graphics classes, I loved how rewarding the effort felt. Computer graphics felt challenging, but once each project was finished, the results were beautiful and satisfying. Although the classes were difficult, I enjoyed them and always was excited for the next topic. I have turned computer graphics into a hobby of mine and hope to pursue a career in the field.



    </div>
</div>