<% provide(:title, "About") %>
<div class = "container" style = "margin-top: 20px">
    <div class = "col-md-12 col-lg-5 col-sm-12">
    <img src="https://s3.amazonaws.com/mikerkoval/IMG_5798.JPG" alt="profile-pic" style="width:450px;height:330px;">
    </div>
    <div class = "col-md-6">
        <h3 style = "margin-top:0px"> About me</h3> 
        <p>
        As of January 2017 I am a senior at Georgia Tech studying computer science. I have one full semester of classes and after I will have one class left to finish to graduate. My specialization for my degree is in Computer Media and Artificial Intelligence. When first learning getting into programming and computer science as a whole, I wasn't sure what really interested me, but I really enjoyed being able to make something, and be able to see the results of my work. When choosing what specifically I wanted to study, Artificial intelligence seemed like the most fascinating field to me. After taking a few classes I had mixed feelings; I enjoyed it, but I realized that it wasn't where my passion really was. After taking the Georgia Tech intro to graphics classes I loved how I was able to create something. It felt so real, even though it wasn't. Although the class was difficult, and I knew I would have a lot to learn in order to pursue a career in graphics, I took more classes such as Computer Animation, and have spent my free time applying what I have learned in my own projects.



    </div>
</div>