<html>
    <head>
        <style>
        body{
            margin:0px;
        }
        .controls{
            padding:10px;
            width:250px;
            height:150px;
            background-color:lightgray;
            opacity: 1;
            position: absolute;
        }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="/maze/p5.min.js"></script>
        
        <script src="/maze/game.js"></script>
        


    </head>
    <style>

    </style>
    <body>
    <div class = "controls">
        Mutation Rate: <input type="range" id="mutation-slider" style = "width: 100px; display: inline-block" value="1" min = "0" max = "100"> <p style = "display:inline-block" id = "mutation-text">0.01</p> <br>
        Population: <input type="range" id="population-slider" style = "width: 100px; display: inline-block" value="100" min = "1" max = "500"> <p style = "display:inline-block" id = "population-text">100</p><br>
        Life span: <input type="range" id="life-slider" style = "width: 100px; display: inline-block" value="100" min = "100" max = "1000"> <p style = "display:inline-block" id = "life-text">100</p>
    </div>

    <div id='myContainer' style = "display:inline"></div>
    </body>
    <script>
    $("#mutation-slider").on("change", function(e){
        mutationRate = $(this).val() / 100;
        $("#mutation-text").text(mutationRate);

    })
    $("#population-slider").on("change", function(e){
        population = $(this).val();
        $("#population-text").text(population);
    })
    $("#life-slider").on("change", function(e){
        maxFrames = $(this).val();
        $("#life-text").text(maxFrames);
    })
    </script>

</html>
