<% provide(:title, "Fluids") %>
<style>
body {
    background-color: white
}
.canvas{
    
    background-color: lightgrey;
    margin: auto;
    text-align: center;

    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
p{
    padding-left: 20%;
    padding-right:20%;
    text-align: left;
}
</style>
<div class = "container"> 
    <div class="canvas col-md-offset-1 col-md-10 col-sm-12" >
        <h1>Fluids</h1>
        <p>For Animation 4496 we created a frluid simulation. We used Jos Stam's paper for the calculations http://www.intpowertechcorp.com/GDC03.pdf. We used his work to create a vector field to control the movement of a fluid by represented as densities. </p> 

        <video controls="controls" width="400" height="300" name="Video Name" src="https://s3.amazonaws.com/mikerkoval/fluids/fluidvectorfield.mov"></video>

        <p>I added the ability to create additional walls to block the vector field</p>
        <video controls="controls" width="400" height="300" name="Video Name" src="https://s3.amazonaws.com/mikerkoval/fluids/vectorfieldwalls.mov"></video>
        <p>By applying the vector field to the density, the result is a fluid simulation</p>
        <video controls="controls" width="400" height="300" name="Video Name" src="https://s3.amazonaws.com/mikerkoval/fluids/fluids1.mov"></video>
        <p>With additional walls</p>
        <video controls="controls" width="400" height="300" name="Video Name" src="https://s3.amazonaws.com/mikerkoval/fluids/fluids2finals.mov"></video>
    </div>
</div>