<% provide(:title, "Rigid Bodies") %>
<style>
body {
    background-color: white
}
.canvas{
    
    background-color: lightgrey;
    margin: auto;
    text-align: center;

    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
.text{
    padding-left: 20%;
    padding-right:20%;
    text-align: left;
}
</style>
<div class = "container"> 
    <div class="canvas col-md-offset-1  col-md-10 col-sm-12" >
        <h1>Rigid Bodies</h1>
        <p class = "text">For Animation 4496 we implimented a rigid body system. We used the DART toolkit to create the cube container and for collision detection. We implemented the collision handling to create realistic interactions, as well as updating the position and orientation. For orientation we used Quaternions.</p> 

            <video controls="controls" width="400" height="300" name="Video Name" src="https://s3.amazonaws.com/mikerkoval/rigidbody/RigidBodies0.mov"></video>

        <p class = "text">I added the ability to create new rigid bodies of different sizes and masses</p>
        <video controls="controls" width="400" height="300" name="Video Name" src="https://s3.amazonaws.com/mikerkoval/rigidbody/RigidBodies1.mov"></video>
        <p class = "text">As well as adjust gravity</p>
        <video controls="controls" width="400" height="300" name="Video Name" src="https://s3.amazonaws.com/mikerkoval/rigidbody/RigidBodies2.mov"></video>
    </div>
</div>