<% provide(:title, "Raytracer Triangle Meshes") %>
<style>
body {
    background-color: white
}
.canvas{
    
    background-color: lightgrey;
    margin: auto;
    text-align: center;

    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
.text{
    padding-left: 20%;
    padding-right:20%;
    text-align: left;
}
</style>
<div class = "container"> 
    <div class="canvas col-md-offset-1 col-md-10 col-sm-12" >
        <h1>Raytracer Triangle Meshes</h1>
        <p class = "text" >I set up my raytracer to read an OBJ file and display the mesh. The OBJ files are either downloaded or created in Blender.</p> 
        <br>
        
        <img src="http://i.imgur.com/UNVeCmj.gif" alt="spheres">
        <br>  <br>  
        <img src="http://i.imgur.com/kvCFwWS.gif" alt="spheres">
        <br>  <br>  
        
    </div>
</div>