<% provide(:title, "Raytracer Noise Textures") %>
<style>
body {
    background-color: white
}
.canvas{
    
    background-color: lightgrey;
    margin: auto;
    text-align: center;

    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
.text{
    padding-left: 20%;
    padding-right:20%;
    text-align: left;
}
</style>
<div class = "container"> 
    <div class="canvas col-md-offset-1 col-md-10 col-sm-12" >
        <h1>Raytracer Noise Textures</h1>
        <p class = "text" >I created different textures using the Perlin and Worley noise functions.</p> 
        <br>
        
        <img src="http://i.imgur.com/OosFRw4.gif" alt="spheres">
        <br>  <br>  
        <img src="http://i.imgur.com/QD2nROS.gif" alt="spheres">
        <br>  <br>  
        <img src="http://i.imgur.com/TWMpAIO.png" alt="spheres">
        <br>  <br>  
         <img src="http://i.imgur.com/YZ8sz1x.gif" alt="spheres">
        <br>  <br>
        <img src="http://i.imgur.com/HZG6eoM.png" alt="spheres">
        <br>  <br>  
        <img src="http://i.imgur.com/ycgeljZ.gif" alt="spheres">
        <br>  <br>  
        <img src="http://i.imgur.com/EB1eR3R.gif" alt="spheres">
        <br>  <br>  
        <img src="http://i.imgur.com/qV9sKjb.gif" alt="spheres">
        <br>  <br>  
       
    </div>
</div>