<% provide(:title, "Raytracer Simple Shapes") %>
<style>
body {
    background-color: white
}
.canvas{
    
    background-color: lightgrey;
    margin: auto;
    text-align: center;

    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
p{
    padding-left: 20%;
    padding-right:20%;
    text-align: left;
}
</style>
<div class = "container"> 
    <div class="canvas col-md-offset-1 col-md-10 col-sm-12" >
        <h1>Raytracer Simple Shapes</h1>
        <p>I built a raytracer in C++ that can create multiple images with simple movement to create a short animation. The raytracer uses the phong model for colors, using ambient, diffuse and specular color, as well as reflections</p> 
        <br>
        

        <p>Simple Spheres</p>
        <img src="http://i.imgur.com/6x1Df2l.gif" alt="spheres">
         <br>
        <p> By combining triangles, I was able to create more complex shapes </p>
       
        <img src="http://i.imgur.com/mst0qHK.gif" alt="spheres">
        <br>
        <br>
        <img src="http://i.imgur.com/PhXPT55.gif" alt="spheres">
    </div>
</div>