<% provide(:title, "Raytracer Scenes") %>
<style>
body {
    background-color: white
}
.canvas{
    
    background-color: lightgrey;
    margin: auto;
    text-align: center;

    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
.text{
    padding-left: 20%;
    padding-right:20%;
    text-align: left;
}
</style>
<div class = "container"> 
    <div class="canvas col-md-offset-1 col-md-10 col-sm-12" >
        <h1>Raytracer Scenes</h1>
        <p class = "text">Using the raytracer I built, I generated different scenes using different effects.</p> 
        <br>
        <img src="http://i.imgur.com/zPpPMqf.gif" alt="refraction">
        <br>  <br> 
        <img src="http://i.imgur.com/fEgZVlY.gif" alt="refraction">
        <br>  <br> 
        <img src="http://i.imgur.com/D206SVW.png" alt="refraction">
        <br>  <br> 
       
    </div>
</div>