/* We want our scene to span the entire window */
body { margin: 0; }

.controls{
            padding:10px;
            width:250px;
            height:150px;
            background-color:lightgray;
            opacity: 1;
            position: absolute;
            z-index: 2.9;
            top:0px;
        }
.canvas{
    width:100%;
    height:100%;
}
