
<div class="container" style = "margin:0px; width:100%; padding: 0px;">
  <div class = "col-md-2 hidden-xs hidden-sm" style = "height:100px; background-color:lightblue;">
  </div>
  <div class = "col-md-4 col-xs-7" style = "height:100px; background-color:lightblue;">
    <h3 style = "line-height:100px; margin:0px; white-space: nowrap"><%= full_title(yield(:title))%></h2>
  </div>
  <div class = "col-md-6 col-xs-5" style = "height:100px; background-color:lightblue; text-align:center;">
        <p style = "line-height:100px; margin:0px; " > <a href='/home' style = " text-decoration: none; color: black"> Home </a> | <a href='/about' style = " text-decoration: none; color:black" > About </a></p>
  </div>
  
</div>
<div class = "container" style="width:100%; background-color:white; border-bottom: solid; border-width: 1px;"> 
    <div class = "col-md-offset-2 col-md-8">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style =  "border: none">
              Class Projects
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/class/constraints">Constraints</a></li>
              <li><a href="/class/rigidbody">Rigid Body</a></li>
              <li><a href="/class/fluid">Fluid</a></li>
            </ul>
          </div>
        </div>
       <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style =  "border: none">
          WebGL
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/webgl/veronoi">Veronoi Diagram</a></li>
          <li><a href="/webgl/torch">Torches</a></li>
        </ul>
      </div>
        
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style =  "border: none">
          Raytracing
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Dropdown link</a></li>
          
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style =  "border: none">
          Miscellaneous
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="https://releash.herokuapp.com">Releash Atlanta</a></li>
        </ul>
      </div>
    </div>

    </div>
  </div>





